.logo-toolbar {
    padding: 0 14px;
    position: relative;

  }

  ul{
    display:table;
    margin: 0px auto 0px 415px;

}

  .example-spacer {
    flex: 1 1 auto;
    position: relative;
  }

  .navbar-fixed {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%  !important;
  
  }
  
  .top-container {
   margin-top: 50px ;
   margin-bottom: 50px
  }

  .example-card {
    max-width: 300px;
  }



@media (max-width: 600px) 
{
  ul{
    display:table;
    margin: 0px auto 0px 50px;

}
}
  